<!-- 
    Copying for now. Would be nice to share this.
 -->


#{set taskFilter: play.cache.Cache.get(controllers.Board.taskFilterCacheKey())/}
#{set allMembers: models.Member.getMembers()/}

#{form id:'filterForm', action:@Board.filter(), method:'post'}
    <div class="filterContainer">
        <div class="filterActions">            
            <a class="clearFiltersButton" href="javascript:void(0);">Clear Filters</a>
        </div>

        <fieldset>
            <legend>Filter Text</legend>
            <input type="text" name="searchText" value="${taskFilter?.searchText}" size="30"/><input type="submit" name="action" value="Filter"/>
        </fieldset>

        <div class="column">
            #{list models.TagGroup.getAll(), as: "tagGroup"}
               #{if !tagGroup.tags.isEmpty()}
                   <fieldset>
                        <legend>${tagGroup.name}</legend>
                        <ul class="tags">
                            #{list tagGroup.tags, as: "tag"}
                                <li><input type="checkbox" name="checkedTags" value="${tag.id}" #{if taskFilter?.checkedTags?.contains(tag.id.toString())}checked #{/if}/>${tag}</li>
                            #{/list}
                            <hr/>
                            <li><input type="checkbox" name="noTag" value="${tagGroup.id}" #{if taskFilter?.noTag?.contains(tagGroup.id?.toString())}checked #{/if}/>No ${tagGroup.name}</li>
                        </ul>
                   </fieldset>
                #{/if}
            #{/list}
        </div>

        <div class="column">
            <fieldset>
                <legend>
                    Members
                </legend>
                <table>
                    <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Raised By
                        </th>
                        <th>
                            Assigned To
                        </th>
                    </tr>
                    </thead>
                    #{list allMembers, as: "member"}
                    <tr>
                        <td>
                            ${member.username}
                        </td>
                        <td>
                            <input type="checkbox" name="raisedBy" value="${member.id}" #{if taskFilter?.raisedBy?.contains(member.id.toString())}checked#{/if}/>
                        </td>
                        <td>
                            <input type="checkbox" name="assignedTo" value="${member.id}" #{if taskFilter?.assignedTo?.contains(member.id.toString())}checked#{/if}/>
                        </td>
                    </tr>
                    #{/list}
                    <tr>
                        <td>
                            Unassigned
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" name="assignedTo" value="unassigned" #{if taskFilter?.assignedTo?.contains('unassigned')}checked#{/if}/>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="clear">
        </div>
    </div>

#{/form}