#{set allMembers: models.Member.getMembers()/}

#{form id:'filterForm', action:@Tasks.filter(), method:'post'}
    <div class="filterContainer">
        <div class="filterActions">
            <div class="bookmarkButton">Bookmark</div>
            <div id="bookmarkFrame" class="hide" style="width: 400px; position:absolute; background-color: white; border: 1px gray solid; padding: 20px;">
                Copy and bookmark this url:<br/><br/>
                <input id="urlText" type="text" maxlength="100" style="width: 350px"/>
                <a id="doneLink">Done</a>
            </div>
            <div class="clearButton">Clear Filters</div>
        </div>

        <fieldset>
            <legend>Filter Text</legend>

            <input type="text" name="searchText" value="${flash.searchText}" size="30"/><input type="submit" name="action" value="Filter"/>
        </fieldset>

        <div class="column">
            #{list models.TagGroup.getAll(), as: "tagGroup"}
               #{if !tagGroup.tags.isEmpty()}
                   <fieldset>
                        <legend>${tagGroup.name}</legend>

                        <ul class="tags">
                            #{list tagGroup.tags, as: "tag"}
                                <li><input type="checkbox" name="checkedTags" value="${tag.id}" #{if flash.checkedTags?.contains(tag.id.toString())}checked #{/if}/>${tag}</li>
                            #{/list}
                            <hr/>
                            <li><input type="checkbox" name="noTag" value="${tagGroup.id}" #{if flash.noTag?.contains(tagGroup.id?.toString())}checked #{/if}/>No ${tagGroup.name}</li>
                        </ul>
                   </fieldset>
                #{/if}
            #{/list}
        </div>

        <div class="column">
            <fieldset>
                <legend>
                    Members
                </legend>
                <table>
                    <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Raised By
                        </th>
                        <th>
                            Assigned To
                        </th>
                    </tr>
                    </thead>
                    #{list allMembers, as: "member"}
                    <tr>
                        <td>
                            ${member.username}
                        </td>
                        <td>
                            <input type="checkbox" name="raisedBy" value="${member.id}" #{if flash.raisedBy?.contains(member.id.toString())}checked#{/if}/>
                        </td>
                        <td>
                            <input type="checkbox" name="assignedTo" value="${member.id}" #{if flash.assignedTo?.contains(member.id.toString())}checked#{/if}/>
                        </td>
                    </tr>
                    #{/list}
                    <tr>
                        <td>
                            Unassigned
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" name="assignedTo" value="unassigned" #{if flash.assignedTo?.contains('unassigned')}checked#{/if}/>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="clear">
        </div>
    </div>

#{/form}