#{set isNew: !task?.id/}
<div class="task" data-id="${task?.id}" data-editMode="${editMode}" data-isNew="${isNew}">
    #{if !editMode}
    <div class="hoverActions">
        <div class="hoverAction moveUpButton hide">
        </div>
        <div class="hoverAction taskId hide">
            ${task?.id}
        </div>
        <div class="hoverAction insertBelowButton hide">
        </div>
        <div class="hoverAction moveDownButton hide">
        </div>
    </div>
    <div class="move">
        <img src="@{'/public/images/arrow-move.png'}"/>
    </div>
    <div class="display">
        <div class="title">
            <h3>${task.title?.escape().nl2br()}</h3>
            <div class="assignedTo">
                #{if task?.assignedTo}Assigned to ${task?.assignedTo}#{/if}#{else}Unassigned#{/else}
            </div>
            <div class="createdBy">
                Creator: ${task?.owner}
            </div>
            <div class="workingOn">
                Being worked on by:
                #{list task?.workers, as: "member"}
                    <li>${member.username}</li>
                #{/list}
            </div>
            <div class="interests">
                Interested members:
                #{list task?.interesteds, as: "member"}
                    <li>${member.username}</li>
                #{/list}
            </div>
        </div>
        <div class="main">
            <div class="description descriptionSummary">
                ${task.content?.escape().nl2br()}
            </div>

            #{if task?.tags}
                <div class="tags">
                #{list models.TagGroup.getAll(), as: "tagGroup"}
                    <ol class="tagGroup">
                        #{list tagGroup.tags, as: "tag"}
                            #{if task?.tags?.contains(tag)}
                                <li class="tag">${tag.name}</li>
                            #{/if}
                        #{/list}
                    </ol>
                #{/list}
                </div>
            #{/if}

            <div class="showHistoryButton">View history</div>            
        </div>
        <div class="comments">
            <div class="commentsList">
                #{list task?.comments, as: "comment"}
                    #{include "Tasks/comment.html"/}
                #{/list}
            </div>
        </div>

		<div class="thumbnails">
            #{if task?.attachments}<img src="@{'/public/images/attachment_icon.png'}"/>#{/if}
            #{if task?.attachments}
            <div class="attachments">
                #{list task?.attachments, as: "attachment"}
                #{include 'Attachments/attachment.html'/}
                #{/list}
            </div>
            #{/if}

        </div>
        <div class="tagsButtons">
            <a href="javascript:void(0);" class="editButton button ui-state-default ui-corner-all right">Edit</a>
        </div>

    </div>
    <div class="clear">
    </div>
    #{/if}
    #{else}
    #{ifErrors}
    <p class="error">
        Please fix the validation errors
    </p>
    #{/ifErrors}
    <div class="display">
        #{form class:'taskForm', action:@Tasks.save(), method:'post', enctype:'multipart/form-data' }<input type="hidden" name="task.id" value="${task?.id}"/>
        <div class="title">
            <label for="task.title">
                Title
            </label>
            <br/>
            <div class="titleField">
                <textarea rows="4" cols="10" name="task.title">${task?.title}</textarea>
            </div>
            <span class="error">${errors.forKey('task.title')}</span>
            <div class="createdBy">
                Creator: ${task?.owner}
            </div>
            <div class="assignedTo">
                Assign to:
                #{select 'task.assignedTo.id', items: models.Member.findAll(), valueProperty:'id', value: task?.assignedTo?.id, labelProperty:'username'}
                    #{option} Unassigned #{/option}
                #{/select}
            </div>
            <div class="workingOn">
                Being worked on by:
                <select name="workerIds" multiple="multiple">
                    <option value="null"></option>
                    #{list models.Member.findAll(), as: "member"}
                        <option value="${member.id}" #{if task?.workers?.contains(member)}selected#{/if}>${member.username}</option>
                    #{/list}
                </select>
            </div>
            <div class="interests">
                Interested Members:
                <select name="interests" multiple="multiple">
                    <option value="null"></option>
                    #{list models.Member.findAll(), as: "member"}
                        <option value="${member.id}" #{if task?.interesteds?.contains(member)}selected#{/if}>${member.username}</option>
                    #{/list}
                </select>
            </div>
        </div>
        <div class="main">
            <label for="task.content">
                Description
            </label>
            <br/>
            <div class="description">
                <textarea rows="10" cols="70" name="task.content">${task?.content}</textarea>
            </div>
            <span class="error">${errors.forKey('task.content')}</span>
            <label for="selectedTags">
                Tags
            </label>
            <br/>
            <div class="tags">
                #{list models.TagGroup.getAll(), as: "tagGroup"}
                    <div class="tagGroup">
                        <label for="blah">${tagGroup.name}</label>
                        <br/>
                        <select name="selectedTagIds" #{if !tagGroup.mutex}multiple="multiple"#{/if}>
                            <option value="null"></option>
                            #{list tagGroup.tags, as: "tag"}
                                #{if task?.tags}
                                    <option value="${tag.id}" #{if task.tags.contains(tag)}selected#{/if}>${tag.name}</option>
                                #{/if}
                                #{else}
                                    <option value="${tag.id}" #{if models.TagGroup.getDefaultTags().contains(tag)}selected#{/if}>${tag.name}</option>                                    
                                #{/else}
                            #{/list}
                        </select>

                    </div>
                #{/list}
            </div>
        </div>
        <div class="comments">
            <label for="comment">
                Add Comment
            </label>
            <textarea rows="4" cols="32" name="newComment"></textarea>

            #{if task?.comments}
                <div class="commentsList">
                    #{list task?.comments, as: "comment"}
                        #{include "Tasks/comment.html"/}
                    #{/list}
                </div>
            #{/if}
        </div>
        <div class="addAttachment">
            <label for="attachments">
                Add Attachments
            </label>
            <input type="file" name="attachments" class="multi"/>
            <div class="attachments">
                #{list task?.attachments, as:'attachment'}
                #{include 'Attachments/attachment.html'/}
                #{/list}
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="tagsButtons">
            <a href="javascript:void(0);" class="cancelButton button ui-state-default ui-corner-all right">Cancel</a>
            #{if !isNew}<a href="javascript:void(0);" class="deleteButton button ui-state-default ui-corner-all right">Delete</a>#{/if}<a href="javascript:void(0);" class="saveButton button ui-state-default ui-corner-all right">Save</a>
        </div>
    </div>
    #{/form}
    <div class="clear">
    </div>
    #{/else}
</div>
