#{extends 'main.html' /}
#{set title:'Tasks' /}
#{set isNew:false/}
#{set 'moreScripts' }
<script type="text/javascript" src="@{'/public/js/tasks.js'}">
</script>
<script type="text/javascript">
    $(function(){
        theTasks = new tasks();
        theTasks.init();

        $.getJSON('@{Tags.getTags()}', function(data) {
            setGlobalTags(data);
        });

        $('#filter-div').tabSlideOut({
            tabHandle: '.handle',                     //class of the element that will become your tab
            pathToTabImage: '/public/images/filters2.gif', //path to the image for the tab //Optionally can be set using css
            imageHeight: '200px',                     //height of tab image           //Optionally can be set using css
            imageWidth: '18px',                       //width of tab image            //Optionally can be set using css
            tabLocation: 'right',                      //side of screen where tab lives, top, right, bottom, or left
            topPos: 50,
            speed: 300,                               //speed of animation
            action: 'click',                          //options: 'click' or 'hover', action to trigger animation
            fixedPosition: true                      //options: true makes it stick(fixed position) on scroll
        });

        $("#filterForm input:checkbox").change(function() {
            $("#filterForm").submit();
        });

        $("#filterForm").submit(function() {
            var options = {
                success : function(data) {
                    $('.tasks').html(data);
                    theTasks = new tasks();
                    theTasks.init();
                },
                type : 'post',
                timeout : 3000
            };

            $("#filterForm").ajaxSubmit(options);

            return false;
        });

        $("#filterForm .clearButton").click(function() {
            $("#filterForm input:checkbox").removeAttr('checked');
            $("#filterForm input:text").val('');
            $("#filterForm").submit();
        });

        $("#filterForm .bookmarkButton").click(function() {
            $("#bookmarkFrame #urlText").attr("value", "http://" + window.location.host + "?" + $("#filterForm input:checkbox,input:text").serialize());
            $("#bookmarkFrame").show();
            $("#bookmarkFrame #urlText").focus().select();
        });

        $("#bookmarkFrame #doneLink").click(function () {
            $("#bookmarkFrame").hide();
        })
        
    });
</script>
#{/set}

<div id="debug"></div>


<div id="filter-div">
    <a class="handle" href="#">Content</a>

    #{include "Tasks/_filterForm.html"/}
</div>

<div class="taskBar">
    <a href="" class="newButton button ui-state-default ui-corner-all">New Task</a>
    <div id="newTask" class="hide">
        #{set isNew:true/}
        #{set editMode:true/}
        <div class="taskContainer">
            #{include 'Tasks/_task.html'/}
        </div>
        #{set isNew:false/}
        #{set editMode:false/}
    </div>
</div>
<div class="tasks">
	<div class="taskSpacing">
    #{include 'Tasks/_tasks.html'/}
	</div>
</div>        
    
<div id="mask">
</div>