#{extends 'main.html' /}
#{set title:'Tasks' /}
#{set isNew:false/}
#{set 'moreScripts' }
<script type="text/javascript" src="@{'/public/js/tasks.js'}">
</script>
<script type="text/javascript">
    $(function(){
        $.getJSON('@{Tags.getTags()}', function(data) {
            setGlobalTags(data);
        });

        $('#filter-div').tabSlideOut({
            tabHandle: '.handle',                     //class of the element that will become your tab
            pathToTabImage: '/public/images/filters2.gif', //path to the image for the tab //Optionally can be set using css
            imageHeight: '200px',                     //height of tab image           //Optionally can be set using css
            imageWidth: '18px',                       //width of tab image            //Optionally can be set using css
            tabLocation: 'right',                      //side of screen where tab lives, top, right, bottom, or left
            topPos: 50,
            speed: 300,                               //speed of animation
            action: 'click',                          //options: 'click' or 'hover', action to trigger animation
            fixedPosition: true                      //options: true makes it stick(fixed position) on scroll
        });
    });
</script>
#{/set}

<div id="debug"></div>        

<div id="filter-div">
    <a class="handle" href="#">Content</a>

    #{include "Tasks/_filterForm.html"/}
</div>

<div class="taskBar">
    <a href="" class="newButton button ui-state-default ui-corner-all">New Task</a>
    <div id="newTask" class="hide">
        #{set isNew:true/}
        #{set editMode:true/}
        <div class="taskContainer">
            #{include 'Tasks/_task.html'/}
        </div>
        #{set isNew:false/}
        #{set editMode:false/}
    </div>
</div>
<div class="tasks">
    #{list tasks, as:'task'}
        <div class="taskContainer">
            #{include 'Tasks/_task.html'/}
        </div>
    #{/list}
</div>        
    
<div id="mask">
</div>