#{extends 'main.html' /}
#{set title:'Tasks' /}
#{set 'moreScripts' }
<script type="text/javascript">
    var template;
    $(document).ready(function(){
        $("#tasksList").sortable({
            handle: ".dragHandle",
            update: function(event, ui){
                var taskOrder = $(this).sortable('toArray').toString();
                $.post('@{Tasks.sort}', {
                    order: taskOrder
                }, function(){
                    // todo: perhaps stop a spinning progress indicator or something
                    $("#notifications").text("saved");
                    $("#notifications").show();
                    $("#notifications").fadeOut(2000);
                });
            }
        });
        //$("#tasksList").disableSelection();
        
        
        
        var uid = '#task-${task.id}';
        template = $('#tasks ' + uid).remove();
        $('#addTask a').click(function(e){
            template.clone().prependTo($('#tasksList'));
            return false;
        });
    });
</script>
#{/set}
#{if models.Member.connected()}
<div class="header">
    Logged in as ${models.Member.connected().username} (<a href="/logout">log out</a>)
</div>
#{/if}
#{if tag}
Filtered on ${tag} (<a href="@{Tasks.index()}">Show all</a>)
#{/if}

<div id="tasks" class="left">
    <div id="notifications">
    </div>
    #{set editing:true/}
    #{include 'Tasks/_show.html'/}
    #{set editing:false/}
    <p id="addTask" #{if  errors}style="display:none"#{/if}">
        <a href="#" class="button">Add Task</a>
    </p>
    <ul id="tasksList" class="elements">
        #{list tasks, as:'task'}
        #{include 'Tasks/_show.html'/}
        #{/list}
    </ul>
</div>
