#{extends 'main.html' /}
#{set title:'Tasks' /}

<script type="text/javascript">
  var template;
  $(document).ready(function() {
    var uid = '#task-${task.id}';
    template = $('#tasks ' + uid).remove();
    $('#addTask a').click(function(e) {
      template.clone().prependTo($('#tasksList'));
      return false;
    });
  });
</script>        

#{if tag}
  Filtered on ${tag} (<a href="@{Tasks.index()}">Show all</a>)      
#{/if}

<div id="tasks">
#{set editing:true/}
  #{include 'Tasks/_show.html'/}      
#{set editing:false/}

<p id="addTask" #{if errors}style="display:none"#{/if}"><a href="#" class="button">Add Task</a></p>

  <ul id="tasksList" class="elements">
    #{list tasks, as:'task'}
      #{include 'Tasks/_show.html'/}
    #{/list}
  </ul>
</div>