#{extends 'main.html' /}
#{set title:'Tasks' /}
#{set isNew:false/}
#{set 'moreScripts' }
<script type="text/javascript" src="@{'/public/js/tasks.js'}">
</script>
<script type="text/javascript">
    $(function(){
        $('#filter-div').tabSlideOut({
            tabHandle: '.handle',                     //class of the element that will become your tab
            pathToTabImage: '/public/images/filters.gif', //path to the image for the tab //Optionally can be set using css
            imageHeight: '200px',                     //height of tab image           //Optionally can be set using css
            imageWidth: '18px',                       //width of tab image            //Optionally can be set using css
            tabLocation: 'right',                      //side of screen where tab lives, top, right, bottom, or left
            topPos: 50,
            speed: 300,                               //speed of animation
            action: 'click',                          //options: 'click' or 'hover', action to trigger animation
            fixedPosition: true                      //options: true makes it stick(fixed position) on scroll
        });
    });
</script>
#{/set}

<div id="filter-div">
    <a class="handle" href="#">Content</a>

    #{include "Tasks/_filterForm.html"/}
</div>

<div class="previews">
    <div id="image_blue_hills" class="preview" style="display:none">

    </div>
</div>
<div class="taskBar">
    <a href="" class="newButton button ui-state-default ui-corner-all">New Task</a>
    <div id="newTask" class="hide">
        <div class="task">
            <div class="move hide">
                <img src="@{'/public/images/arrow-move.png'}"/>
            </div>
			#{set isNew:true/}
            	#{include 'Tasks/task.html'/}
            #{set isNew:false/}
        </div>
    </div>
</div>
<div class="tasks">
    #{list tasks, as:'task'}
    <div class="task">
        <div class="move">
            <img src="@{'/public/images/arrow-move.png'}"/>
        </div>#{include 'Tasks/task.html'/}
    </div>#{/list}
</div>
    
<div id="mask">
</div>