<div class="contents">
    <div class="hide properties">
        #{form id:'task-' + (task.id ? task.id : '') + '-form', action:@save(task.id), method:'post', enctype:'multipart/form-data' }<input name="id" value="${task.id}"/><input name="orderNumber" value="11"/>#{/form}
    </div>
    <div class="display">
        <div class="title">
            <h3>#{if !editing} 
                ${task.title.raw()} 
                #{/if}</h3>
            <!--div class="createdBy">By: ${task.owner}</div-->
        </div>
        <div class="main">
            <div class="description descriptionSummary">
                #{if !editing} 
                ${task.content.raw()} 
                #{/if}
            </div>
            <!--div class="tags">
            <ul class="tagContainer">
            </ul>
            </div-->
        </div>
        <div class="thumbnails">
            <!--img src="@{'/public/files/blue_hills-thumb.jpg'}" title="" rel="#image_blue_hills" class="thumb"/-->
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="editingButtons">
        <a href="" class="editButton button ui-state-default ui-corner-all right">Edit</a>
        <a href="" class="deleteButton button ui-state-default ui-corner-all right">Delete</a>
        <a href="" class="saveButton button ui-state-default ui-corner-all right hide">Save</a>
        <a href="" class="cancelButton button ui-state-default ui-corner-all right hide">Cancel</a>
        <div class="clear">
        </div>
    </div>
</div>
