<div class="insertAction hide"><a href="#">Add Task</a></div>
<div class="contents">
    <div class="hide properties">
        #{form id:'task-' + (task.id ? task.id : '') + '-form', action:@save(task.id), method:'post', enctype:'multipart/form-data' }<input name="id" value="${task.id}"/>#{/form}
    </div>
    <span class="taskId hoverAction hide">Task ID: ${task.id}</span>
    <div class="display">
        <div class="title">
            <h3>#{if task.title}
                ${task.title.raw()}
                #{/if}
                #{else}
                Title
                #{/else}</h3>
            <!--div class="createdBy">By: ${task.owner}</div-->            
        </div>
        <div class="main">
            <div class="description descriptionSummary">
                #{if task.content}
                ${task.content.raw()}
                #{/if}
                #{else}
                Description
                #{/else}
            </div>
        </div>
        <div class="comments">
            <div class="selectedTags">
                #{if task.tags}
                    ${task.tags?.join(' ')}
                #{/if}                
            </div>

            #{list task.comments, as: "comment"}
            #{include "Tasks/comment.html"/}
            #{/list}
        </div>
        <div class="taskInterests">
            #{list task.interestedMembers, as: "member"}
            #{include "Members/taskInterest.html"/}
            #{/list}
        </div>
        <div class="thumbnailsButtons">
            <div class="thumbnails">
                #{list task.attachments, as:'attachment'}
                #{include 'Attachments/attachment.html'/}
                #{/list}
            </div>
            <div class="clear">
            </div>
            <div class="editingButtons">
                #{if !isNew}
                <div class="uploader right">
                    <form action="/tasks/addAttachment" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
                        <input type="hidden" name="taskId" value="${task.id}"/><input type="file" name="file"/>
                    </form>
                </div>#{/if}<a href="" class="saveButton button ui-state-default ui-corner-all right #{if !isNew}hide#{/if}">Save</a>
                <a href="" class="deleteButton button ui-state-default ui-corner-all right">Delete</a>
                #{if !isNew}<a href="" class="editButton button ui-state-default ui-corner-all right">Edit</a>
                <a href="" class="cancelButton button ui-state-default ui-corner-all right hide">Cancel</a>
                #{/if}
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
