html {
	background-color: #eff3f7;
}

body {
	font-family: 'Lucida Grande', Verdana, 'Bitstream Vera Sans', Arial, sans-serif; font-size: .8em;
}

.header {
	font-size: .7em; font-weight: bold; margin: 0.5%;
}

a {
	text-decoration: none; font-size: 10pt; color: #408dda;
}

h1 {
	margin: 0 0 0.5% 5px;
}

h3 {
	font-size: .9em;
}

div.tasks {
	float: left; width: 98%; margin: 0 0.5%;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.inputTitle {
	font-weight: bold; font-size: 80%;
}

div.taskContainer {
	border: 1px solid #DDDDDD; padding: 5px 5px 5px 0px; margin: 0px 0px 4px 20px; background-color: white; -moz-box-shadow: 0 1px 1px #DDDDDD;
}

div.taskPlaceholder {
	background-color: #e5e5e5;; height: 80px; margin: 10px 0px;
}

div.taskContainer .title {
	width: 200px; margin-right: 5px; float: left;
}

div.taskContainer.editMode .display {
	margin-left: 15px;
}

div.taskContainer .createdBy {
	display: none;
}

div.taskContainer.expandMode .createdBy {
	color: gray; font-size: .7em; margin-top: 5px; display: block;
}

div.taskContainer .assignedTo {
	color: gray; font-size: .7em; margin-top: 5px; font-size: .7em;
}

div.taskContainer .main {
	width: 49%; margin-right: 1%; float: left;
}

div.taskContainer .comments {
	width: 23%; margin-right: 1%; float: left; font-size: 0.8em;
}

div.taskContainer .comments .comment {
	width: 100%; float: left;
}

div.taskContainer .comments .comment .member {
	width: 25%; float: left;
}

div.taskContainer .comments .comment .content {
	width: 75%; float: left;
}

div.taskContainer .taskInterests {
	width: 13%; margin-right: 2%; float: right; height: 27px;
}

div.taskContainer .taskInterests .taskInterest {
	float: left; margin-right: 3px;
}

div.taskContainer .taskInterests .taskInterest a.avatar {
	border: none;
}

div.taskContainer .taskInterests .taskInterest .avatar img {
	width: 25px; height: 25px; float: left; border: 1px solid #DDDDDD;
}

div.taskContainer .taskInterests .taskInterest img.delete {
	float: right; display: inline; height: 10px; width: 10px;
}

/*
 * Buttons
 */
div.taskContainer .editButton {
	display: block;
}

div.taskContainer .editingButtons {
	float: right; margin-top: 2px; width: 100%;
}

div.taskContainer .editingButtons .button,a.newButton {
	padding: 0.1em 1em; font: normal normal normal 80%/normal 'Trebuchet MS', sans-serif; position: relative; text-decoration: none; margin-left: 5px;
}

/*
 * Attachments
 */
div.taskContainer .attachments {
    display: none;
    overflow: hidden;
}

div.taskContainer.expandMode .attachments {
    display: block;
}

div.taskContainer .attachments .attachment {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 110px;
    height: 110px;
    border: 1px #cccccc solid;
    background-color: white;
    text-align: center;
}

div.taskContainer .attachments .attachment img {
    width: 100px;
    height: 100px;
}

/*
 * Thumb-nails
 */
div.taskContainer .thumbnailsButtons {
	
}

div.taskContainer .thumbnails {
	text-align:right; height: 27px; width: 130px; float: right; clear: right;
}

div.taskContainer .attachment img.delete {
	position: absolute; width: 20px; height: 20px;
}

div.taskContainer.editMode .task {
    padding: 0;
}

div.taskContainer.editMode .description {
	border: 1px #cccccc solid; padding: 5px;
}

div.taskContainer.editMode .titleField {
	border: 1px #cccccc solid; padding: 5px;
}

div.taskContainer.expandMode {
	background-color: #f5ffee;
}

div.taskContainer.editMode,div.taskContainer.editMode input {
	background-color: #fbfbef;
}

div.taskContainer .hide {
	display: none;
}

div.preview .close {
	background-image: url(../images/overlay/close.png); cursor: pointer; height: 35px; position: absolute; right: -15px; top: -15px; width: 35px;
}

div.preview {
	display: none; background: #DDDDDD; padding: 10px; font-size: 11px; z-index: 1000;
}

div.taskBar {
	padding: 0 0.5% 10px 0.5%;
}

div.taskContainer .description {
	min-height: 60px; overflow: hidden;
}

div.taskContainer .descriptionSummary {
	height: 60px; overflow: hidden;
}

div.taskContainer .showIcon,div.taskContainer .hideIcon {
	float: right; position: relative; margin-right: 10px;
}

div.taskContainer .hoverActions {
	float: left; width: 20px; margin-left: -20px;
}

div.taskContainer .hoverActions .moveUpButton {
	background-image: url(../images/overlay/arrow_top.gif); cursor: pointer; width: 16px; height: 16px;
}

div.taskContainer .hoverActions .moveDownButton {
	background-image: url(../images/overlay/arrow_down.gif); cursor: pointer; width: 16px; height: 16px;
}

div.taskContainer .hoverActions .insertAboveButton {
	background-image: url(../images/overlay/action_add.gif); cursor: pointer; width: 16px; height: 16px;
}

div.taskContainer .hoverActions .insertBelowButton {
	background-image: url(../images/overlay/action_add.gif); cursor: pointer; width: 16px; height: 16px;
}

div.taskContainer .move {
	float: left; cursor: move; position: relative; margin: 30px 0px 0px 3px; width: 15px;
}

div.taskContainer .move img {
	position: absolute; top: 50%;
}

div.taskContainer .contents {
	margin-left: 13px;
}

div.taskContainer h3 {
	padding: 0px; margin: 0px;
}

div.taskContainer p {
	padding: 2px 0px; margin: 0px;
}

div.taskContainer .edit input,div.taskContainer .edit textarea {
	width: 100%;
}

/**
 * Tags
 */
div.taskContainer .tags {
    padding: 5px;
    border: 1px #cccccc solid;
    font-size: 0.8em; color: gray; overflow: hidden;
    -webkit-border-radius: 5px;
    margin-top: 10px;
}

div.taskContainer .tags .tag {
	float: left; padding: 1px 5px; background-color: #afc6dd; color: white; margin-right: 2px;
}

div.taskContainer.editMode .tags .close {
	display: inline;
}

div.taskContainer .tags .close {
	display: none;
}

div.taskContainer.expandMode .tags,div.taskContainer.editMode .tags {
	display: block;
}

div.tags ul {
	margin: 0; padding: 0;
}

div.taskContainer .uploader .file {
	display: none;
}

div.filters {
	float: right; margin-right: 1%; width: 29%;
}

#notifications {
	float: none; width: 100%; background-color: red; color: white;
}

.taskSummary .title a {
	font-size: 14pt; color: #0066ff; margin-bottom: 10px;
}

.taskSummary .content {
	margin: 5px 0px; font-size: 10pt; color: #333333;
}

.searchTerm {
	padding-right: 20px; color: red;
}

.tagGroup .tags {
	margin: 5px 10px;
}

.tagGroup .name {
	color: #3399ff; margin: 0; font-size: 12pt;
}

div.taskContainer.editMode .tags ul.tagit {
	border: 1px solid #C6C6C6;
}

div.taskContainer .tags ul.tagit {
	border: none;
}

div.tags li {
	list-style: none;
}

#filter-div {
	background-color: #e5e8f1; padding: 20px; width: 500px; border: 1px solid #DDDDDD; z-index: 9999; -webkit-box-shadow: #666 0px 2px 3px; -moz-box-shadow: #666 0px 2px 3px; box-shadow: #666 0px 2px 3px; behavior: url(/public/js/pie/PIE.htc);
}

#filter-div td {
	text-align: center;
}

#filter-div a {
	border: 1px solid #abbfdd; -moz-box-shadow: -1px 0 1px #666666;
}

.actions a {
	margin-right: 15px;
}

fieldset {
	padding-top: 10px; border: 1px solid #c3c1c1; margin-bottom: 10px;
}

fieldset legend {
	font-weight: bold;
}

SPAN.tagMatches {
	margin-left: 10px;
}

SPAN.tagMatches SPAN {
	padding: 2px; margin-right: 4px; background-color: #91b9f2; color: #fff; cursor: pointer;
}

.filterContainer {
	overflow: hidden;
}

.filterContainer .column {
	width: 48%; float: left; margin-right: 2%;
}

.taskId {
	color: #cccccc; font-size: 6pt; text-align: center;
}

.error {
	color: red;
}

label {
	font-size: 0.8em; color: gray;
}

.fieldGroup {
    /*background-color: white;*/
    padding: 5px;
    margin: 10px 0;
    /*border: 1px #cccccc solid;*/
}