html {
    font-family: sans-serif;
    font-size: 10pt;
}

body.main {
    width: 980px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin-top: 5px;
    color: #3c5b88;
}

ul {
    padding: 0;
}


li.task {
    list-style: none;
    margin: 10px 0;
    border: #cccccc solid thin;
    padding: 5px 10px;
}

li.task .title {
    font-size: 14pt;
    color: #0066ff;
    margin-bottom: 10px;
}

li.task .content {
    margin: 5px 0px;
    font-size: 10pt;
    color: #333333;
}

li.task .createdDate {
    float: right;
    color: gray;
}

.error {
    color: red;
    font-size: 10pt;
}

a {
    text-decoration:none;
    font-size: 10pt;
    color: gray;
}

.heading {
    color: #3399ff;
    font-size: 14px;
    margin: 15px 0px 5px 0px;
}

.actions {
    text-align: right;
}

div.tags {
    font-size: 10pt;
    color: #cccccc;
}

.tags .tag {
    cursor: pointer;
    padding: 1px 10px;
    margin: 2px;
}

.tags .selected {
    background: #91b9f2;
    color: #fff;
}

div.attachments {
}

.attachments .attachment {
}

.attachments .attachment .icon {
    margin: 5px;
}

.attachments .attachment .preview {
    border: #cccccc solid thin;
    width: 50px;
    height: 50px;
}

.attachments .attachment .title {
    font-size: 10pt;
    color: gray;
}

div.left {
    float: left;
    margin: 0;
    width: 70%;
}

div.right {
    float: right;
    margin: 0;
    width: 28%;
}

div.filters {
    border: #cccccc solid thin;
    padding: 10px;
}

#notifications {
    float: none;
    width: 100%;
    background-color: red;
    color: white;
}

.header {
    background-color: #003366;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
}

.header .logo a {
    font-size: 20pt;
    width: 50px;
    float: left;
    color: #cccccc;
}

.header .loggedInAs {
    width: 100%;
    text-align: right;
}

.header .actions {
    margin-top: 5px;
    text-align: right;
}

.header .actions a {
    margin-left: 20px;
    color: #cccccc;
}

.taskSummary .title a {
    font-size: 14pt;
    color: #0066ff;
    margin-bottom: 10px;
}

.taskSummary .content {
    margin: 5px 0px;
    font-size: 10pt;
    color: #333333;
}

.searchTerm {
    padding-right: 20px;
    color: red;
}

.tagGroup .tags {
    margin: 5px 10px;
}

.tagGroup .name {
    color: #3399ff;
    margin: 0;
    font-size: 12pt;
}

.tags ul {    
    margin: 0;
    padding: 0 0 0 10px;
}

.tags li {
    list-style: none;
}