#{extends 'main.html' /}

<div>
    <a href="@{Tasks.index()}">Back to Task List</a>
</div>

#{include "Members/avatar.html"/}        

<h2>Tasks raised by ${member.username}</h2>

<div class="tasks">
    #{list member.raisedTasks, as: "task"}
    <div class="task">
        #{include 'Tasks/task.html'/}
    </div>
    #{/list}
</div>

<h2>Tasks assigned to ${member.username}</h2>

<div class="tasks">
    #{list member.assignedTasks, as: "task"}
    <div class="task">
        #{include 'Tasks/task.html'/}
    </div>
    #{/list}
</div>        