<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!--link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}"-->
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/css/jquery-ui/smoothness/jquery-ui-1.8.7.custom.css'}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/css/jquery-ui/jquery.ui.autocomplete.custom.css'}" />
        <link rel="stylesheet" type="text/css" href="@{'/public/css/tasks.css'}" media='screen'/>
        <script type="text/javascript" src="@{'/public/js/jquery/jquery-1.4.4.min.js'}">
        </script>
        <script type="text/javascript" src="@{'/public/js/jquery-ui/jquery-ui-1.8.7.custom.min.js'}">
        </script>
        <script type="text/javascript" src="@{'/public/js/jquery.tools.min.js'}">
        </script>
        <script type="text/javascript" src="@{'/public/js/jquery.form.js'}">
        </script>
        <script type="text/javascript" src="@{'/public/js/tag-it.js'}">
        </script>
		<script type="text/javascript" src="@{'/public/js/dialog.js'}">
        </script>
        #{get 'moreScripts' /}
    </head>
    <body class="main">
        <div class="header right">
            
            <div class="loggedInAs">
            #{if models.Member.connected()}
                Logged in as ${models.Member.connected().username}
            #{/if}
            </div>
            <div class="actions">
                <a href="@{Tasks.index()}">All Tasks</a>
                #{if models.Member.connected()}
                    <a href="@{Members.show(models.Member.connected().id)}">My Tasks</a>
                #{/if}
                <a href="@{Tasks.trash()}">Trashed Tasks</a>
                #{get 'headerActions' /}
                #{if models.Member.connected()}
                    <a href="/logout">Log out</a>
                #{/if}
            </div>
        </div>
		<div class="header left">
			<h1 class="logo"><a href="@{Tasks.index()}">Min Task Manager</a></h1>
		</div>
		
		<div class="clear"></div>


        #{doLayout /}
        <div id="dialog">
        </div>
    </body>
</html>
