#{extends 'main.html' /}

#{set isNew:false/}
#{set 'moreScripts' }
<script type="text/javascript" src="@{'/public/js/tasks.js'}">
</script>
<script type="text/javascript">
    $(function(){
        raisedTasks = new tasks({tasksSel: '#raisedTasks', locked: true});
        raisedTasks.init();

        assignedTasks = new tasks({tasksSel: '#assignedTasks', locked: true});
        assignedTasks.init();

        $.getJSON('@{Tags.getTags()}', function(data) {
            setGlobalTags(data);
        });
    });
</script>
#{/set}

<div>
    <a href="@{Tasks.index()}">Back to Task List</a>
</div>

#{include "Members/avatar.html"/}        

<h2>Tasks raised by ${member.username}</h2>

<div id="raisedTasks">
    #{list member.raisedTasks, as: "task"}
    <div class="taskContainer">
        #{include 'Tasks/_task.html'/}
    </div>
    #{/list}
</div>

<h2>Tasks assigned to ${member.username}</h2>

<div id="assignedTasks">
    #{list member.assignedTasks, as: "task"}
    <div class="taskContainer">
        #{include 'Tasks/_task.html'/}
    </div>
    #{/list}
</div>